<app-side-nav></app-side-nav>
<div class="main-container">
  <div class="container">
    <h2>Transation History</h2>
    <form [formGroup]="historyForm"  class="input-form">
      <div class="form-group">
        <select formControlName="month" id="month" class="form-control" (change)="onChangeTodo($event)">
          <option value="" disabled>Select Month</option>
          <option value="January" >January</option>
          <option value="February" >February</option>
          <option value="March" >March</option>
        </select>
      </div>
      <div class="form-group">
      </div>
      <div class="total-income">
          Transation For {{selectedMonth}} : {{calculatetotalTodo(selectedMonth) | currency : 'INR' : true:'2.0' }}
      </div>
    </form>
    <hr>
    <h3>Transation List : {{selectedMonth}}</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Transation Type</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todoitem of getFilteredTodo()">
          <td>{{todoitem.transationType}}</td>
          <td>{{todoitem.todoAmount}}</td>
        </tr>
      </tbody>
    </table>
    <div class="input-form">
      <div class="form-group">
      </div>
      <button type="button" class="btn btn-primary" (click)="onBack()">Back</button>
    </div>
  </div>
</div>

